<template>
  <div class="w-[500px] h-[400px] px-2 py-4 border border-rose-500 rounded-md" @click="onClick('body')">

    <div class="font-light text-[26px] text-sky-700 font-sans">
      provided text: {{ title }} : <span class="text-amber-50">amber-50</span>
    </div>

    <div class="text-red-600">another red label</div>
    <div class="text-green-700">green label</div>

    <slot></slot>
  </div>
</template>

<script>
export default {
  emits: ['click'],
  props: {
    title: String,
  },
  methods: {
    onClick: function(id) {
      // [debug]
      console.log(`Card clicked: ${id}`)
      this.$emit('click', { id, })
    },
  },
}
</script>
