<script setup>
// testing the component before publish or slink
import { Card }  from './components/card'
</script>

<template>
  <div>demo component container...</div>
  <div class="mx-20 mt-4">
    <Card title="for testing">
      <div class="text-sky-500 text-center">
        heya heya
      </div>
    </Card>
  </div>
  
</template>

